<nav id="mainnav">
    <div class="container">

        <ul class="nav nav-pills" id="file-topmenu" style="display: none;">
            {% for section in navigation %}
            <li {% if section.active %} class="active" {% endif %} ><a href="../{{section.name}}/">{{ section.text }}</a></li>
            {% endfor %}

            <li class="dropdown fs-actions">
              <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                  Actions
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <li class="copy">
                      <a href="#"><i class="icon-copy"></i> Copy</a>
                  </li>
                  <li class="past">
                      <a href="#"><i class="icon-clipboard-paste"></i> Past</a>
                  </li>
                  <li class="delete">
                      <a href="#"><i class="icon-deletefile"></i> Delete</a>
                  </li>
              </ul>
            </li>

            <li id="newDirWin">
                <a href="#"><i class="icon-createfolder"></i> New Folder</a>
            </li>
            <li class="slideshow">
                <a href="#"><i class="icon-fullscreen"></i> Slideshow</a>
            </li>


            <li class="nav pull-right">
                <ul class="files-adv-actions nav nav-pills">

                    <li class="advanced-panel-show upload upload-empty">
                        <a href="#"><i class="icon-uploadalt"></i> Upload</a>
                    </li>
                    <li class="dropdown upload-isset" style="display: none;">
                        <a class="dropdown-toggle upload-dropdown-show" role="button" data-toggle="dropdown" href="#">
                            <i class="icon-uploadalt"></i> Upload
                            [<span class="uploadCount">0</span>]
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <div>
                                    <a class="k-button k-upload-button advanced-panel-show upload">Show upload</a>
                                </div>
                                <div class="upload-dropdown">
                                    <div class="percDropdown"></div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="advanced-panel-show buffer">
                        <a href="#"><i class="icon-clipboard-paste"></i> Buffer [<span class="bufferCount">0</span>]</a>
                    </li>

                </ul>
            </li>
        </ul>

        <ul class="nav nav-pills" id="trash-topmenu" style="display: none;">
            <li id="trash-restore-all">
                <a href="#"><i class="icon-restore"></i> Restore All</a>
            </li>
            <li id="trash-remove-all">
                <a href="#"><i class="icon-remove"></i> Delete All</a>
            </li>
        </ul>

    </div>
</nav>
